/*@keyframes hiderow {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/

/*    100% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/


body {
    background-color: #ffffe4;
    cursor: url('./assets/cursor.cur'), auto;
}
a {
    text-decoration: none;
    color: blue;
}
hr {
    border: 1px solid rgba(0, 0, 0, 0.7);
}
table, th, td {
    border: 1px solid black;
    table-layout: fixed;
}

.hide {
    display: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive {
    width: 85%;
    max-width: 400px;
    height: auto;
}

/*tr {*/
/*    animation-name: hiderow;*/
/*    animation-duration: 2s;*/
/*    animation-fill-mode: forwards;*/
/*    animation-play-state: paused;*/
/*}*/