html{
    background-color: aqua;
}

h1{
    text-align: center;
}

footer{
    width: 98.5%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
}